/* General Header Styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo span:first-child {
  color: #0056F3; 
}

.logo span:nth-child(2) {
  color: #F59E0B; 
}

.logo span:last-child {
  font-size: 14px;
  margin-left: 2px; 
  vertical-align: top;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  display: flex;


  text-decoration: none;
  color: #1a1a1a; 
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0056F3; /* Hover color change to blue */
}

/* Get Started Button */
.get-started-btn {
  padding: 8px 16px;
  background: linear-gradient(to right, #0056F3, #1E90FF); /* Blue gradient */
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.get-started-btn:hover {
  background: linear-gradient(to right, #0042C2, #0056F3); /* Darker blue on hover */
  transform: scale(1.05); /* Slight zoom on hover */
}
.crypto{
  padding-right: 0px;
  padding-left: 800px;

}
@media (max-width: 768px) {
   .nav {
   display: none;
   }
  
    .header {
      justify-content: space-between;
 }
  }
